.answer {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: rgb(66, 66, 66);
    display: inline;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    padding: 0;
    text-align: center;
    margin-bottom: 5px;
  }

  .question{
      margin-right: 20px;
      display: block;
      margin-bottom: 10px;
  }

  .form{
      margin:0 0 20px ;
  }

  @media(max-width: 500px){
     .answer{
      position: relative;
      left: 50%;
    transform: translateX(-50%);}
  }
